# Ignore configuration files that may contain sensitive information.
/app
app/sites/*/settings*.php
app/sites/*/drushrc.php
app/sites/*/local.settings*.php

drushrc.php
app/sites/sites.php

# Ignore paths that contain user-generated content.
app/sites/*/files
app/sites/*/private

# Ignore ide  settings files
.settings
.project
.buildpath
.idea

# Ignore local installation config files
conf/local/*
!conf/local/README.txt

# Ignore local installation config files
docs/local/*
!docs/local/README.txt

#ignore databases and files folders located in root

/databases/*
!databases/README.txt

/files/*
!files/README.txt

## Testing ##
/tests/tests/_output
!tests/_output/README.txt

/tests/codeception.yml
/tests/codecept.phar

/tests/selenium-server-standalone*



*.pyc

/docker/database/*
/docker/database/
/docker/solr/data/*
/docker/solr/data/
/scripts/conf/local.py
/tests/tests/_output/

